{% extends 'base.html' %}

{% block app_content %}

<div class="container">
  <div class="vert_bar">
    <ul>
      <li><a href="#" target="_blank" id="all_font">WHO WE ARE</a></li>
      <li><a href="#" target="_blank" id="all_font">Welcome</a></li>
      <li><a href="#" target="_blank" id="all_font">Attorneys</a></li>
      <li><a href="#" target="_blank" id="all_font">Staff</a></li>
      <li><a href="#" target="_blank" id="all_font">Reputation</a></li>
      <li><a href="#" target="_blank" id="all_font">History</a></li>
    </ul>
    <img src="./images/content-navlink-where.jpg" alt="">
    <a href="#" target="_blank">
      <h5 class="all_font">Where We Work</h5>
      <p class="all_font">Find out more about our work coverage area.</p>
    </a>
  </div>

  <p class="who_we_are_main_p" id="all_font">Who we are? That is one of the most important questions a prospective client can ask us. Our answer – one of the most respected law firms in the country that cares about your case, your business, and
    solving your problem. We invite you to get to know our attorneys better and understand the depth of experience and talent we have in the links below.</p>

  <div class="gallery">
    <img src="../static/images/welcome.jpg" class="img1" alt="">
    <img src="../static/images/attorneys.jpg" class="img2" alt="">
    <img src="../static/images/staff.jpg" class="img3" alt="">
    <img src="../static/images/reputation.jpg" class="img4" alt="">
    <img src="../static/images/history.jpg" class="img5" alt="">
  </div>
</div>

{% endblock %}
