{% extends 'base.html' %}

{% block app_content %}

<div class="container" id="what-we-do-container">
  <div class="vert_bar">
    <ul class="no_deco">
      <li><a href="#" target="_blank" id="all_font">WHAT WE DO</a></li>
      <li><a href="#" target="_blank" id="all_font">Subrogation</a>
        <ul>
          <li><a href="#" target="_blank" id="all_font">Property</a></li>
          <li><a href="#" target="_blank" id="all_font">Worker's Compensation</a></li>
        </ul>
      </li>

      <li><a href="#" target="_blank" id="all_font">Litigation</a>
        <ul class="no_deco">
          <li><a href="#" target="_blank" id="all_font">Appellate</a></li>
          <li><a href="#" target="_blank" id="all_font">Commercial</a></li>
          <li><a href="#" target="_blank" id="all_font">Defense</a></li>
          <li><a href="#" target="_blank" id="all_font">Labor/Employment</a></li>
        </ul>
      </li>

      <li><a href="#" target="_blank" id="all_font">Business</a>
        <ul class="no_deco">
          <li><a href="#" target="_blank" id="all_font">Brokerage</a></li>
          <li><a href="#" target="_blank" id="all_font">Agreement</a></li>
          <li><a href="#" target="_blank" id="all_font">Business</a></li>
          <li><a href="#" target="_blank" id="all_font">Formation</a></li>
          <li><a href="#" target="_blank" id="all_font">Business Related Contracts</a></li>
          <li><a href="#" target="_blank" id="all_font">Employment</a></li>
        </ul>
      </li>

      <li><a href="#" target="_blank" id="all_font">Transportation</a></li>
    </ul>
    <img src="./images/content-navlink-where.jpg" alt="">
    <a href="#" target="_blank">
      <h5 class="all_font">Where We Work</h5>
      <p class="all_font">Find out more about our work coverage area.</p>
    </a>
  </div>
  <p class="who_we_are_main_p" id="all_font">What we do at Nielsen Zehe & Antas PC is prevent our client’s problems in some cases, solve their problems in other cases, and ultimately, if the problems cannot be prevented or solved, prepare to take the problems to trial and WIN.

  Our attorneys, who view themselves as problem solvers, have tried more cases to a jury or judge than most law firms collectively. Whether the problem is a lawsuit, business deal, or formation of a new business, we have the skill, experience, and business acumen to help our clients.</p>

  <div class="gallery">
    <img src="../static/images/subro.jpg" class="img1" alt="">
    <img src="../static/images/liti.jpg" class="img2" alt="">
    <img src="../static/images/business.jpg" class="img3" alt="">
    <img src="../static/images/transpo.jpg" class="img4" alt="">
  </div>
</div>

{% endblock %}
