{% extends 'base.html' %}

{% block app_content %}

<div class="where_work_cont"> <!-- container -->
  <div class="vert_bar" id="www_vertbar"> <!-- red card -->
    <h4>WHERE WE WORK</h4>
    <ul>
      <a href="#"><li>United States</li></a>
      <a href="#"><li>International</li></a>
    </ul>
    <a href="#" id="card_image_link">
      <figure>
        <img src="../static/images/comp_guy.jpg" alt="Computer Guy">
        <figcaption>
          <p class="image_caption_title">Career Opportunities</p>
          <p id="image_caption">Join our magnificent firm.</p>
        </figcaption>
      </figure>
    </a>
  </div> <!--red_card -->
  <div class="where_we_work_details">
    <p class="www_main_text">Nielsen, Zehe, Antas attorneys practice where our clients need us. And, we are proud to say our clients have needed us everywhere – we have practiced in forty-eight states across the United States and in four different countries. Currently, we are admitted in state and federal courts across the country, either as a member of the bar of that state or via pro hoc vice admission. Please see below for more information on where the firm has practiced:</p>
    <div class="row global_list" >
      <div class="usa_states">
        <h3 class="geo_header">UNITED STATES</h3>
        <ul id="usa_list">
          <li>Alabama</li>
          <li>Alaska</li>
          <li>Arizona</li>
          <li>Arkansas</li>
          <li>California</li>
          <li>Colorado</li>
          <li>Connecticut</li>
          <li>Florida</li>
          <li>Georgia</li>
          <li>Hawaii</li>
          <li>Idaho</li>
          <li>Illinois</li>
          <li>Indiana</li>
          <li>Iowa</li>
          <li>Kansas</li>
          <li>Kentucky</li>
          <li>Louisiana</li>
          <li>Maine</li>
          <li>Maryland</li>
          <li>Massachusetts</li>
          <li>Michigan</li>
          <li>Minnesota</li>
          <li>Misissippi</li>
          <li>Missouri</li>
          <li>Montana</li>
          <li>Nebraska</li>
          <li>Nevada</li>
          <li>New Hampshire</li>
          <li>New Jersey</li>
          <li>New Mexico</li>
          <li>New York</li>
          <li>North Carolina</li>
          <li>North Dakota</li>
          <li>Ohio</li>
          <li>Oklahoma</li>
          <li>Oregon</li>
          <li>Pennsylvania</li>
          <li>South Carolina</li>
          <li>South Dakota</li>
          <li>Tennessee</li>
          <li>Texas</li>
          <li>Utah</li>
          <li>Vermont</li>
          <li>Virginia</li>
          <li>Washington</li>
          <li>West Virginia</li>
          <li>Wisconsin</li>
          <li>Wyoming</li>
        </ul>
      </div>
      <div class="international">
        <h3 class="geo_header">INTERNATIONAL</h3>
        <ul id="international_list">
          <li>Canada</li>
          <li>Columbia</li>
          <li>Germany</li>
          <li>Nicaragua</li>
        </ul>
      </div>
    </div>
  </div> <!--right column -->
</div> <!-- ends container -->

{% endblock %}
